@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.swal2-icon.swal2-warning.swal2-icon-show {
  margin: 0px auto; /* ตัวอย่างการปรับแต่ง margin */
}
.swal2-icon.swal2-warning.swal2-icon-show {
  width: 50px;
  height: 50px;
  font-size: xx-small;
  display: flex;
  justify-content: center;
  justify-self: center;
}

.swal2-title {
  margin: 0;
  padding: 3px;
  display: flex;
}

.swal2-html-container {
  padding-top: 0 !important;
  margin: 0;
}
.swal2-actions {
  margin-top: 3px;
}
